<form>
    <label >Scrivi cosa dovrai fare</label><br>
    <textarea [(ngModel)]="newTodo.title" name="title" placeholder="To Do..."></textarea>
    <input type="checkbox" id="ifTrueCheck" name="completed">
    <button (click)="addNewTodo()" type="submit"> Inserisci! </button>
  </form>


  <div *ngIf="todos.length == 0">Loading...</div>
<ng-container *ngFor="let todo of todos">
  <ul>
    <li>{{ todo.title }}</li>
    <button (click)="deleteTodo()"> Aggiungi </button>  
    <button (click)="editTodo()"> Modifica </button>
  </ul>
</ng-container>




