<form>
    <label >Scrivi cosa dovrai fare</label><br>
    <input [(ngModel)]="newTodo.title" name="title" placeholder="Da Fare..." >
    <button (click)="addNewTodo()" type="submit"> Inserisci! </button>
  </form>


  <div *ngIf="todos.length == 0">Dammi un attimo...</div>
<ng-container *ngFor="let todo of todos">
  <ul>
    <li>{{ todo.title }}</li>
    <button class="list_btn" (click)="deleteTodo(todo.id)"> Delete </button>  
    <button class="list_btn" (click)="toggleCompleted(todo)"> Complete </button>
  </ul>
</ng-container>












