.navbar  {
 
    background-color: $secondary;
    font-weight: bold;
    border-bottom: 1px solid rgb(0, 0, 0);
   
}

.navbar-toggler {

   color: black;

}

.navbar .navbar-brand {
    @include fontmain;
}


#navbarNavDropdown ul a {
    @include font;
    
}


.navbar-nav li a {

    @include font;
}



