.app-header {

    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-tool-items {
    flex: 1 1 auto;
}

.nav-title {

    text-decoration: none;
    color: white;

}

#postsBtn {

    margin-left: 1rem;

}