
<mat-toolbar color="primary" class="app-header" role="heading">
  <a id="home" routerLink="" class="nav-title">Home</a>
  <a id="postsBtn" mat-button mat-raised-button routerLink="posts" routerLinkActive="active">Posts</a>
    <span class="nav-tool-items"></span>
      <a mat-button mar-raised-button routerLink="login" routerLinkActive="active">Log In</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    
  </mat-toolbar>
  <router-outlet></router-outlet>
